*{
    margin: 0;
}
:root{
    --form-color: rgb(121, 110, 19);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;  
    font-family: Arial, Helvetica, sans-serif;
}

.left-side{
    width: 35vw;
    background-image: url(images/side_img.jpg);
    background-size: cover;
}

.credit{
    position: fixed;
    bottom: 15px;
    left: 5%;
    font-size: 16px;
    font-weight: 400;
}
.left-side > div > a{
    color: rgb(43, 44, 31);
}

.logo-container{
    font-family: "aldrich" , "sans serif";
    font-size: 60px;
    font-weight: 500;

    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0 , 0, 0.5);;
    position: relative;
    top:157px;
    height: 16vh;
    width:auto;
}

.logo-container > img{
    width: 100px;
    height: 100px;
}

.right-side{
    width: 65vw;
    background-color: rgb(240, 240 , 240);
}

.right-side > div:first-child{
    font-weight: 900;
    font-size: 25px;
    height: 25vh;
    padding: 80px 0px 0px 80px;
    
}


p:last-child{
    padding-top: 30px;
}

h2,.form{
    padding: 20px 0px 20px 80px;
    
}

.form{
    display: flex;
    flex-wrap:wrap;
    gap:30px;
    width: 70%;
}

.form-container{
    background-color: white;
    box-shadow:0 5px 15px 5px rgba(0,0,0,0.4);
}

label{
    color: var(--form-color);
}
input{
    padding: 8px 12px;
    margin: 8px 0;

    border: var(--form-color) solid 1px;
    border-radius: 4px ;

    display: flex;
    flex-wrap: column wrap;
}

input:focus{
    border:rgb(175, 161, 28) solid 1px;
    box-shadow:0 5px 4px rgba(0,0,0,0.2);
    outline: none;
}



button{
    background-color: rgb(197, 167, 31) ;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: var(--form-color) solid 2px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
}

a{
    color: var(--form-color);
    font-weight:bolder;
    font-size: larger;
    text-decoration: none;
}

.submit{
    padding:40px 80px;
}

input:invalid:focus{
    border: red solid 1px;
}

